<html>

<head>
    <title>pure-systems</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
<style>

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
var usn = sessionStorage.getItem("usn");
var pass = sessionStorage.getItem("pass");

    for (item of(window.location.hash.substring(1).split('&'))) {
        document.cookie = item + ';path=/';
    }
    var tokenitem = document.cookie.split(';').find(function(i) {
        return $.trim(i).split('=')[0] == 'access_token'
    })
    if (tokenitem) {
        window.gitlab_token = tokenitem.split('=')[1]
    } else {
        window.gitlab_token = ''
    }
    //var path = encodeURIComponent(window.location.pathname);
    //if (window.gitlab_token) {
    //$('#signin').text("Sign out").prop('href','{{$.Site.BaseURL}}/page/signout/?state=' + path);
    function myfunction() {
        var url = "";
        var pid = $('#projectid').val();
        if(pid=="Heirarchical Variant")
        {
           url = 'https://gitlab.ps-office.local/api/v4/projects/55/pipeline';
        }
        else if(pid=="Extended Type Model"){
            url = 'https://gitlab.ps-office.local/api/v4/projects/57/pipeline';
        }
        else if(pid=="Conditional Documents"){
            url = 'https://gitlab.ps-office.local/api/v4/projects/61/pipeline';
        }
        else if(pid=="Weather Station"){
            url = 'https://gitlab.ps-office.local/api/v4/projects/62/pipeline';
        }
        else if(pid=="Automotive Car Light"){
            url = 'https://gitlab.ps-office.local/api/v4/projects/63/pipeline';
        }
        $.ajax(url, {
            'data': JSON.stringify({
                'ref': 'main',
                'variables': [{
                    'key': 'PROJECTID',
                    'value': $('#projectid').val(),
                    'variable_type': 'env_var'
                }, {
                    'key': 'FOLDERID',
                    'value': $('#folderid').val(),
                    'variable_type': 'env_var'
                }, {
                    'key': 'USRID',
                    'value': usn,
                    'variable_type': 'env_var'
                },
                {
                    'key': 'PASSID',
                    'value': pass,
                    'variable_type': 'env_var'
                }]
            }),
            'method': 'POST',
            'headers': {
                //'Authorization': 'Bearer '+window.gitlab_token,
                'Authorization': 'Bearer 9dW3dFYTyhNJXsMKVu9U',
                'Content-Type': 'application/json'
            },
            'success': function(output) {
                $('#api-output').html('<b>Pipeline status is ' + output['status'] + '</b> &nbsp; <a href="' + output['web_url'] + '" target="_blank">View pipeline</a> </br> You can view your pvariant model- <a href=" https://demodocker.ps-office.local/shivani/pvweb/ui/picker/ " target="_blank">Here</a>');

            },
            'error': function(output) {
                alert('Error!');
                $('#api-output').html('<b>Error</b>')
            }
        });
        //$('#pipeline-form').hide();
        // $('#pipeline-after').show();
    }

    function myfunction_1() {
        //alert('Done!');
        $.ajax('https://gitlab.ps-office.local/api/v4/users/22/starred_projects', {
            'method': 'GET',
            'headers': {
                //'Authorization': 'Bearer '+window.gitlab_token,
                'Authorization': 'Bearer 9dW3dFYTyhNJXsMKVu9U',
                'Content-Type': 'application/json'
            },
            'success': function(output) {
                //$('#api-output_01').html(obj);
                //var jsonData = JSON.parse(output);
                //$('#api-output_01').html(jsonData);
                var defoption = document.createElement('option');
                defoption.innerHTML = "<option value='' selected>--Select a Project--</option>";
                document.getElementById('projectid').add(defoption);
                for (var i = 0; i < output.length; i++) {
                    var xyz = output[i];
                    //var xyzjason= JSON.parse(xyz);
                    //alert(xyz.name);
                    var newSelect = document.createElement('option');
                    selectHTML = "<option value='" + xyz.name + "'>" + xyz.name + "</option>";
                    newSelect.innerHTML = selectHTML;
                    document.getElementById('projectid').add(newSelect);
                }
            },
            'error': function(output) {
                alert('Error!');
                $('#api-output').html('<b>Error</b>')
            }
        });
    }

    function myfunction_2() {
        var selctd_pro = $("#projectid").val();
        $.ajax('https://gitlab.ps-office.local/api/v4/users/22/starred_projects', {
            'method': 'GET',
            'headers': {
                //'Authorization': 'Bearer '+window.gitlab_token,
                'Authorization': 'Bearer 9dW3dFYTyhNJXsMKVu9U',
                'Content-Type': 'application/json'
            },
            'success': function(output) {
                //$('#api-output_01').html(obj);
                //var jsonData = JSON.parse(output);
                //$('#api-output_01').html(jsonData);
                alert("inside");
                //var x = document.getElementById("selctd_pro");
                //x.innerHTML = '';
                for (var i = 0; i < output.length; i++) {
                    var xyz = output[i];
                    //var xyzjason= JSON.parse(xyz);
                    //alert(xyz.name);
                    if (xyz.name == selctd_pro) {
                        var slectd_pro_id = xyz.id;
                        var url = 'https://gitlab.ps-office.local/api/v4/projects/' + slectd_pro_id + '/repository/branches'
                        $.ajax(url, {
                            'method': 'GET',
                            'headers': {
                                //'Authorization': 'Bearer '+window.gitlab_token,
                                'Authorization': 'Bearer 9dW3dFYTyhNJXsMKVu9U',
                                'Content-Type': 'application/json'
                            },
                            'success': function(output) {
                              var x = document.getElementById("folderid");
                                   while (x.length > 0){
                                   x.remove(x.length-1);
                                    }
                                    var defoption = document.createElement('option');
                defoption.innerHTML = "<option value='' selected>--Select a Version--</option>";
                document.getElementById('folderid').add(defoption);
                                for (var i = 0; i < output.length; i++) {
                                    var xyz = output[i];

                                    //var xyzjason= JSON.parse(xyz);
                                    //alert(xyz.name);
                                    var newSelect = document.createElement('option');
                                    selectHTML = "<option value='" + xyz.name + "'>" + xyz.name + "</option>";
                                    newSelect.innerHTML = selectHTML;
                                    document.getElementById('folderid').add(newSelect);
                                }
                            },
                            'error': function(output) {
                                alert('Error!');
                                $('#api-output').html('<b>Error</b>')
                            }
                        });

                    }

                }
            },
            'error': function(output) {
                alert('Error!');
                $('#api-output').html('<b>Error</b>')
            }
        });
    }
	
	
</script>

</head>

<body style="background-size: 100% 50%; background-repeat:no-repeat;" onload="myfunction_1()">

    <div class="header">

        <img class="logo-img" src="tool logo.jpeg" alt="PV-logo">
		<button onClick="location.href='index.html'" style="float:right; border-radius: 4px; background: #2550C2; text-align: center; color: white; font-family: 'Copperplate', sans-serif;  font-size: 75%; margin-top: 3%; margin-right:2%; padding:10px; display: inline;"><b>LOGOUT </b></button>

    </div>

    <div class="card" style=" border-radius: 10px;">
        <h1 style="text-align: center; color: white; font-family: 'Copperplate', sans-serif;  font-size: 300%;"><b>Easy Access<b></h1>

		<form action="/action_page.php">
			<select id="projectid" name="project" onchange="myfunction_2()">
			  </select>
			<br><br>
			<select id="folderid" name="folder">
				<option value="" selected >--Select a Version--</option>

			</select>
			  <br>
			  <br>
			  <input type="button" onclick="myfunction()" id="api-example" value = "Export to Server">
        <!--<input type="button" onclick="myfunction_1()" id="api-example_1" value = "Projects">-->
			<br><br>
      <div id="api-output"></div>
      <div id="api-output_01"></div>
		</form>
</div>



</body>
<div class="fixed">

 <h2 style="text-align: center; color: white; font-family: 'Copperplate', sans-serif;  font-size: 75%;"> <b>For more information - https://www.pure-systems.com/<b> </h2>
    </div>
</html>
