* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rolecontainer{
	display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    /* margin-top: 30px; */
    height: 150px;
}

.ToolLogo-img {
    /* margin-top: 30px; */
    height: 150px;
	width: 180px;
}

.CompanyLogo-img {
    /* margin-top: 30px; */
    height: 150px;
	float: right;
	width: 180px;
}

.card {
    background-color: #2550c2;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 25%;
    background-color: white;
    color: #214093;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text]{
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#pass {
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

.header {
    border-bottom: 4px solid;
	color: #2AA837;
}



.fixed {
  position: fixed;
  width: 100%;
  bottom: 3px;
  border: 0.5px solid #2AA837;
  background: #2AA837
} 

.roleribbon {
 text-align: center;
    transition: 0.3s;
    text-align: center;
    margin: 0;
    position: absolute;
	 padding: 12px 20px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

#adminbox {
	align:center;
	width: 100px;
	height : 100px;
	margin-left: 10%;
	display: inline;
	
}

#othersbox {
	align:center;
	width: 100px;
	height : 100px;
	margin-right: 10%;
	display: inline;
}

.selectedRole {
  background-color: gold;
  width: 100px;
  height : 100px;
  border-radius: 50%;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Copperplate', sans-serif; 
  margin: 2px 4px;
  cursor: pointer;
}

.circleButton {
	width: 100px;
	height : 100px;
  background-color: #2550c2; 
  border-radius: 50%;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Copperplate', sans-serif; 
  margin: 2px 4px;
  cursor: pointer;
}
